<!-- <form method="POST" action="/pizzas">
 
  <label for="first_name">First Name: </label>
  
  <input type="text" 
  id="first_name"
  name="first_name"/> 
 

  <label for="last_name">Last Name: </label>
  <input type="text" 
  id="last_name"
  name="last_name"/> 

  <label for="pizza-select">Select Pizza: </label>
  
  <select  
  id="pizza-select"
  name="topping">
 
    <option value="Margherita">Margherita</option>
    <option value="Pepperoni">Pepperoni</option>
  </select> 

  <label for="quantity">Quantity: </label>
  <input min="1"
  max="50"
  type="number" 
  name="quantity"
  id="quantity"/> 

  <input type="submit" value="Click to confirm"/>

</form> -->