head {
  text-align: left;
  font-family: Impact;
}

.navbar ul li {display:inline;}
.navbar a {

padding:8px;
color:white; background-color: blue;
font-family: Arial;
border-style:outset;
text-decoration: none;
width:8em;
border-radius: 8px;

}

.navbar a:hover,
.navbar a:active
{
border-style:inset;
color:yellow;

}

.details {

font-family: Tahoma;

}

.image {

  text-align: center;
}

body {
  text-align: center;
  font-family: Verdana;
  background-color: #eee8aa;
}